<div class="container" id="converter">
    <div class="row" ng-controller="MainCtrl">
        <div class="col-md-5">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="tagValue" ng-model="convert.tag" ng-change="convert.convertTagcoin(convert.tag, convert.currency_code)" ng-init="convert.onLoadConvertion(convert.tag)">
                <span class="input-group-addon">TAG</span>
            </div>
        </div>
        <div class="col-md-1">
            <h4>=</h4>
        </div>
        <div class="col-md-5">
            <div class="input-group input-group-lg">
                <input type="text" name="" id="currValue" class="form-control" ng-model="convert.currency" readonly>
                <span class="input-group-addon">{{ convert.currency_code}}</span>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-toggle="modal" data-target=".bs-modal-sm"><span class="caret"></span></button>
                </span>
            </div>
        </div>

        <div class="modal fade bs-modal-sm" role="dialog" aria-hidden="true">
            <div class="modal-dialog bs-modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Choose a currency</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <input type="text" class="form-control" ng-model="search" placeholder="Search">
                        </div>
                        <div class="row" id="currencyList">
                            <table class="table table-hover">
                                <tr ng-repeat="currency in convert.currencies.data | filter:search">
                                    <td><a href="/#/TAG/{{ currency.currency_code }}" data-dismiss="modal" ng-click="convert.convertTagcoin(convert.tag, currency.currency_code)">{{ currency.currency_name }} - {{ currency.currency_code}}</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
